body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #87CEEB;
}

.container {
    background-color:#ADD8E6;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#participants {
    margin-bottom: 20px;
}

#participantList {
    list-style: none;
    padding: 0;
}

#participantList li {
    margin-bottom: 5px;
}

#results {
    margin-top: 20px;
}